@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'media-library-pro-styles';

@layer base {
    @font-face {
        font-family: 'Say What You Feel Black Cond';
        src: url('../fonts/SayWhatYouFeel-Condensed.woff2') format('woff2'),
            url('../fonts/SayWhatYouFeel-Condensed.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Kolektiv Grotesk X';
        src: url('../fonts/KolektivGroteskX-Regular.woff2') format('woff2'),
            url('../fonts/KolektivGroteskX-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Kolektiv Grotesk X';
        src: url('../fonts/KolektivGroteskX-Bold.woff2') format('woff2'),
            url('../fonts/KolektivGroteskX-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Kolektiv Grotesk X';
        src: url('../fonts/KolektivGroteskX-BoldItalic.woff2') format('woff2'),
            url('../fonts/KolektivGroteskX-BoldItalic.woff') format('woff');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Kolektiv Grotesk X';
        src: url('../fonts/KolektivGroteskX-Italic.woff2') format('woff2'),
            url('../fonts/KolektivGroteskX-Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Kolektiv Grotesk X Mono';
        src: url('../fonts/KolektivGroteskX-Mono.woff2') format('woff2'),
            url('../fonts/KolektivGroteskX-Mono.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    hr {
        @apply border-black my-4;
    }
}

@layer components {
    .btn {
        @apply inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring-gray-700 disabled:opacity-25 transition ease-in-out duration-150
    }

    .btn-secondary {
        @apply inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:ring-blue-700 active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150
    }

    .btn-danger {
        @apply btn-secondary text-red-600 border-red-600 hover:bg-red-500 hover:text-white
    }
}